<div class="container">
    <header style="
        position: relative;
        width: 100%;
        height: 200px;
        text-align: center;
        color: #fff;
        background-image: url(/Assets/images/about-bg.jpg);
            background-repeat: no-repeat;
            background-size: 100% auto;">
        <div class="container">
            <div class="row">
                <div class="mx-auto">
                    <div class="page-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="mx-auto pl-3">
                <h2>About Me!</h2>
                <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and a interest</p>
            </div>
        </div>
    </div>
</div>

