@using FA.JustBlog.Core.Models
@model IEnumerable<Tag>
<div class="widget Label" data-version="1" id="Label1">
    <h5>Popular Tags</h5>
    <div class="d-inline">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("GetPostsByTag", "Post", new { byWhat = item.Name})" class="btn" style="border-width: 0;
                                          font-size: 10px;
                                          box-shadow: none;
                                          border-radius: 5px;
                                          padding: 0 12px;
                                          text-transform: lowercase;
                                          line-height: 32px;
                                          background-color: darkgray;
                                          transition: .3s all ease-in-out;">#@item.Name (@item.Count)</a>
        }
    </div>
</div>

